/*TOOLS: Variables, Mixins, standart styles*/

//Variables color
$white: #fff;
$black: #000;
$blue: #0a0e34;
$blue_light:#5e42b0;
$blue_line: #8f7bc8;
$gray_light: #f6f4fa;

$shadow_btn: #0a0e34;

$font_menu: #9071ea;
$font_bigContent: #e7e7e7;
$font_bigMain:#e6e6e6;
$font_caption: #c1c1c1;
$font_footer: #a496ca;


//Variables fonts
$proximaRg:'Proxima Nova Rg', 'Arial', sans-serif, 'Tahoma', sans-serif;
$proximaLt:'Proxima Nova Lt', 'Arial', sans-serif, 'Tahoma', sans-serif;
$proximaBt:'Proxima Nova Bt', 'Arial', sans-serif, 'Tahoma', sans-serif;
$proximaSb:'Proxima Nova Sb', 'Arial', sans-serif, 'Tahoma', sans-serif;


//MIXINS
@mixin clearfix {
            &:after {
              display: block;
              content: '';
              clear: both;
              visibility: hidden;
              height: 0;
            }
}

@mixin placeholder_color {
  &::-moz-placeholder {
        color: $footer_title;
  }
  &::-webkit-input-placeholder {
    color: $footer_title;
  }
}

@mixin text_content {
  font-family: $proximaRg;
  font-size: rem(20);
  line-height: rem(30);
  color: $black;
}

//FUNCTIONS
@function rem($px) {
  $rems: $px / 16;
  @return #{$rems}rem;
}

//Styles

h2 {
  font-family: $proximaBt;
  font-size: 3.95em;
  color:$font_bigContent;
  text-transform: uppercase;
}

h3 {
  font-family: $proximaBt;
  font-size: rem(36);
  color: $font_caption;
  text-transform: uppercase;
}
