.pagination {
  background-color: $pagination_bg;
  line-height: rem(110);

  .pagination__box {
    max-width: rem(960);
    width: 76%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .box_arraw {
      font-family: $dosis;
      font-size: rem(14);
      font-weight: 600;
      letter-spacing: 0.8px;

      .prev,
      .next {
        color:$white;
        text-transform: uppercase;

        a {
          color:$white;
          text-transform: uppercase;
        }

      }

      .arrow {
        color: $black;
      }

      .prev {

        .arrow {
          color: $black;
          padding-right: rem(8);
        }

      }

      .next {
        padding-right: rem(8);
        .arrow {
          color: $black;
          padding-left: rem(8);
        }

      }

      &:hover {
        cursor: pointer;
        .arrow {
          color: $button_yellow;
        }
      }
    }

    .box__numero {
      font-family: $dosis;
      font-size: rem(14);
      font-weight: bold;
      color: $white;

      a {
        font-family: $dosis;
        font-size: rem(14);
        font-weight: bold;
        color: $white;
        vertical-align: top;
      }

      .page-numbers {
        margin-right: rem(25);
      }

      .current {
        font-family: $dosis;
        font-size: rem(20);
        font-weight: bold;
        color: $button_yellow;
      }
    }
  }
}
