& {
      .box {
        display: grid;
        grid-template-rows: repeat(3, 33.33%);

        .link {
          display: grid;
          grid-template-columns: rem(23) max-content;
          grid-column-gap: rem(7);
          padding-left: rem(15);

          .link__svg-icon {
            width: rem(23);
            height: rem(23);
            fill: $color-icons;
          }

          a {
            padding-top: 5px;
          }

          a>span {
            text-decoration: none;
            color: $font-black;
            font-family: $montserratRegular;
            font-size: rem(15);
            line-height: rem(20);
          }

          #ng {
            font-size: rem(13);
          }
        }

        .date {
          display: grid;
          grid-template-columns: rem(23) max-content;
          grid-column-gap: rem(7);
          justify-content: end;
          padding-right: rem(15);

          &__svg-icon {
            width: rem(23);
            height: rem(23);
            fill: $color-icons;
          }

          a {
            text-decoration: none;
            color: $font-black;
            font-family: $montserratRegular;
            font-size: rem(15);
            padding-top: rem(5);
          }
        }

        .item {

          display: grid;
          grid-template-rows: rem(107) rem(30);
          padding-top: rem(45);

          &__text {

            p {
              padding-left: rem(15);


              a {
                text-decoration: none;
                color: $font-black;
                font-family: $montserratBold;
                font-size: rem(25);
              }
            }
          }
        }

        &__wrapper {
          display: grid;
          grid-template-columns: repeat(2,1fr);
        }

        .magma,
        .picture {
          display: none;
        }
      }
    }
