.single-content {
  max-width: rem(960);
  width: 76%;
  margin: 0 auto;
  position: relative;
  top: rem(-80);

  .top {
    background-color: $single-top_bg;
    padding: 80px 0 80px;
    min-height: rem(390);

    .uptitle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $arial;
      padding: 0 0 40px;

      div {
        padding: 0 15px;
        border-right: 2px solid $border_menu;

        &:last-child {
          border: none;
        }
      }

      &__news {
        line-height: rem(25);

        a {
          font-family: $dosis;
          font-size: rem(11);
          text-transform: uppercase;
          font-weight: 700;
          background-color: $link_news;
          padding: rem(6) rem(10);
          color: $white;
          letter-spacing: 0.2px;
          border-radius: rem(5);
        }
      }

      &__numero {
        line-height: rem(25);
        span:first-child {

          .fa {
            font-size: rem(15);
            color: $icons;
          }
        }

        span:last-child {
          padding-left: rem(8);
          font-size: rem(11);
          color: $footer_text;
        }
      }

      &__date {
        font-size: rem(9);
        display: flex;
        align-items: center;

        span:first-child {

          .fa {
            font-size: 17px;
            color: $icons;
          }
        }

        span:last-child {
          padding-left: rem(8);
          color: $footer_text;
        }
      }
    }

    &__title {

      h2 {
        max-width: 72%;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: center;
        font-family: $dosis;
        font-weight: 700;
        font-size: rem(54);
      }

      p {
        max-width: 36.5%;
        margin: 0 auto;
        text-align: center;
        font-family: $arial;
        font-size: rem(12);
        color: $footer_text;
      }
    }
  }

  .content__middle {
    background-color: $single-middle_bg;

    .middle {
      margin: 0 auto;
      max-width: rem(690);
      widows: 72%;
      font-family: $arial;
      font-size: rem(12);
      line-height: rem(24);
      color: $single_content;
      padding: rem(85) 0 rem(70);


      blockquote {
        padding: rem(45) rem(50) rem(45) 0;
        float: left;
        width: 420px;
        position: relative;
        margin: 0 auto;

        .fa-quote-left {
          font-size: rem(35);
          color: $icons;;
          position: absolute;
          left: rem(-43);
          top: rem(33);
        }

        .blockquote__except {
          text-align: right;
          font-family: $arial;
          font-size: rem(18);
          line-height: rem(22);
          padding-bottom: rem(30);
        }

        .blockquote__athor {
          text-align: right;
          font-family: $dosis;
          font-size: rem(14);
          font-weight: 800;
          text-transform: uppercase;
          line-height: rem(22);
        }
      }

      &__video {
        img {
          width: 100%;
        }
      }
    }

    .list {
      margin: 0 auto;
      max-width: rem(690);
      widows: 72%;

      h3 {
        font-family: $dosis;
        font-size: rem(34);
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: rem(45);
        line-height: 1;

      }
    }

    .middle__markered {
      padding: rem(68) 0 rem(55);
      border-bottom: 1px solid $border_menu;

      ul {
        list-style-type:none;

        li {
          position: relative;
          font-family: $arial;
          font-size: rem(13);
          line-height: rem(34);

          &:before {
            content: '';
            background: url(../img/marker_list.png) no-repeat;
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            top:25%;
            left: -20px;
          }
        }
      }

    }

    .middle__numered {
      padding: rem(55) 0 rem(55);
      border-bottom: 1px solid $border_menu;

      ol {
        counter-reset: item;

        li {
          font-family: $arial;
          font-size: rem(13);
          line-height: rem(34);
          text-indent: -1em;
          list-style-type: none;
          counter-increment: item;

          &::before {
            display: inline-block;
            width: 1em;
            padding-right: 0.5em;
            font-weight: bold;
            text-align: right;
            content: counter(item) ".";
            color: $search;
          }
        }
      }
    }

    .middle_table {
      padding: rem(55) 0 rem(68);

      h3 {
        padding-bottom: rem(16);
      }

      p {
        font-family: $arial;
        font-size: rem(11);
        padding-bottom: rem(48);
        color: $footer_text;
      }

      table {

        -webkit-box-shadow: 9px 18px 72px 1px rgba(0,0,0,0.42);
        -moz-box-shadow: 9px 18px 72px 1px rgba(0,0,0,0.42);
        box-shadow: 9px 18px 72px 1px rgba(0,0,0,0.42);

        tr {

          &:nth-child(odd) {
            background-color: $footer_bg;
          }

          th {
            width: 126px;
            text-transform: uppercase;
            font-family: $dosis;
            font-size: rem(14);
            font-weight: 500;
            line-height: rem(18);
            letter-spacing: 0.2px;
            background-color:  $search;
            color: $white;
            padding: 14px 0;


            &:first-child {
              width: 180px;
              border-radius: 5px 0 0 0;
            }

            &:last-child {
              width: 180px;
              border-radius: 0 5px  0 0;
            }
          }

          td {
            text-align: center;
            color: $footer_text;
            padding: 20px 0;
            width: 126px;
            border-right: 1px solid $border_menu;
            border-bottom: 1px solid $border_menu;

            &:first-child {
              width: 180px;
              color: $single_content;
              text-align: left;
              padding-left: rem(26);
            }

          }
        }
      }



    }

  }


}
