.header {
  background-color: rgba(21,23,57, .8);
  background-image: url(../img/bg_header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

  //opacity: 0.1;
  padding: 2.60% 0 5.83%;



  .container {
    width: 80.20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      //padding-bottom: 16.25%;

      &__logo {
        a {
          display: block;

          img {
            display: block;
            width: 200px;
            height: 38px;
            object-fit: cover;

          }
        }
      }

      &__title {
        justify-self: end;
        color: $white;
        text-transform: uppercase;
        font-family: $proximaLt;
        font-size: rem(14);
      }
    }

    .middle {
      display: grid;

      &__line {
        // width: 252px;
        // height: 317px;
        // border-radius: 248px 4px/313px 4px;
        // background-color: $blue-light;
      }

      &__block {
        color: $white;
        font-family: $proximaBt;
        text-transform: uppercase;
        font-size: rem(90);
        line-height: 0.8;

        .middle__second {
          text-align: right;
          padding-bottom: 2.6%;
        }
      }

      .menu {
        width: 40%;
        justify-self: end;


        ul {
          display: flex;
          justify-content: space-between;

          li {
            display: block;

            a {
              color: $font_menu;
              text-transform: uppercase;
              font-family: $proximaLt;
              font-size: rem(14);

              &:hover {
                color: $white;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;


      a {
        display: block;
        width: 311px;
        height: 77px;
        margin: 0 25px 0;
        -webkit-border-radius: 39px 38px 38px 39px/38px;
        -moz-border-radius: 39px 38px 38px 39px/38px;
        border-radius: 39px 38px 38px 39px/38px;
        background-color: $blue_light;
        box-shadow:0 16px 24px $shadow_btn;
        display: flex;

        .btn__box {
          margin: auto;
          display: flex;
          justify-content: center;

          i {
            display: block;
            margin-right: 25px;
            width: 36px;
            height: 38px;

            svg {
              fill:$white;
              width: 38px;
              height: 40px;
            }
          }

          .btn__text {
            color: $white;
            font-family: $proximaLt;
            font-size: rem(14);
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {

              span {
                font-family: $proximaSb;

              }
            }
          }
        }
      }
    }
  }
}
