.header {

  background-image: url(../img/bg_header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

  &__bakcgraund {
    background-color: rgba(21,23,57, .9);
    height: 100%;
    padding: 2.60% 0 5.83%;
  }

  .container {
    width: 80.20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &__logo {

        a {
          display: block;

          img {
            display: block;
            width: 200px;
            height: 38px;
            object-fit: cover;
          }
        }
      }

      &__title {
        justify-self: end;
        color: $white;
        text-transform: uppercase;
        font-family: $proximaLt;
        font-size: rem(14);
      }
    }

    .middle {
      display: grid;

      &__line {
        // width: 252px;
        // height: 317px;
        // border-radius: 248px 4px/313px 4px;
        // background-color: $blue-light;
      }

      &__block {
        color: $white;
        font-family: $proximaBt;
        text-transform: uppercase;
        font-size: rem(70);
        line-height: 0.8;

        .middle__second {
          text-align: right;
          padding-bottom: 2.6%;
        }
      }

      .menu {
        width: 40%;
        justify-self: end;

        ul {
          display: flex;
          justify-content: space-between;

          li {
            display: block;

            a {
              color: $font_menu;
              text-transform: uppercase;
              font-family: $proximaLt;
              font-size: rem(12);

              &:hover {
                color: $white;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;

      a {
        display: block;
        width: 20%;
        height: 52px;
        margin: 0 20px 0;
        border-radius: 27px 27px 27px 27px/27px;
        background-color: $blue_light;
        box-shadow:0 16px 24px $shadow_btn;
        display: flex;

        .btn__box {
          margin: auto;
          display: flex;
          justify-content: center;

          i {
            display: block;
            margin-right: 20px;
            width: 36px;
            height: 34px;

            svg {
              fill:$white;
              width: 38px;
              height: 34px;
            }
          }

          .btn__text {
            color: $white;
            font-family: $proximaLt;
            font-size: rem(14);
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {

              span {
                font-family: $proximaSb;
              }
            }
          }
        }
      }
    }
  }
}
