.header {

  background-image: url(../img/bg_header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

  &__bakcgraund {
    background-color: rgba(21,23,57, .9);
    height: 100%;
    padding: 2.60% 0 5.83%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 227px;
      height: 250px;
      background-image: url(../img/line_long.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: 136px;
      left: 29.5%;
      z-index: 0;

      @media #{$tablet} {
        top: 107px;
        left: 37.5%;
      }
    }

    @media #{$tablet} {
      padding: 6.9% 0 8%;
    }
  }

  .container {
    width: 80.20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media #{$tablet} {
      width: 94.79%;
    }

    .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &__logo {

        a {
          display: block;

          img {
            display: block;
            width: 200px;
            height: 38px;
            object-fit: contain;

            @media #{$tablet} {
              width: 190px;
              height: 35px;
            }
          }
        }
      }

      &__title {
        justify-self: end;
        align-self: center;
        color: $white;
        text-transform: uppercase;
        font-family: $proximaLt;
        font-size: rem(14);
      }
    }

    .middle {
      display: grid;

      &__block {
        color: $white;
        font-family: $proximaBt;
        text-transform: uppercase;
        font-size: rem(70);
        line-height: 0.8;

        @media #{$tablet} {
          font-size: rem(64);
          line-height: 80px;
        }

        .middle__first {
          @media #{$tablet} {
            padding-left: 8.85%;
          }
        }

        .middle__second {
          text-align: right;
          padding-bottom: 2.6%;

          @media #{$tablet} {
            padding-right: 8.85%;
            padding-bottom: 3.125%;
          }
        }
      }

      .menu {
        width: 40%;
        justify-self: end;

        @media #{$tablet} {
          width: 87.85%;
          justify-self: center;

        }

        ul {
          display: flex;
          justify-content: space-between;

          li {
            display: block;

            a {
              color: $font_menu;
              text-transform: uppercase;
              font-family: $proximaLt;
              font-size: rem(12);

              &:hover {
                color: $white;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;

      a {
        display: block;
        width: 23%;
        height: 52px;
        margin: 0 20px 0;
        border-radius: 27px 27px 27px 27px/27px;
        background-color: $blue_light;
        box-shadow:0 16px 24px $shadow_btn;
        display: flex;

        @media #{$tablet} {
          width: 40.5%;
          height: 78px;
          border-radius: 39px 39px 39px 39px/38px;
        }

        .btn__box {
          margin: auto;
          display: flex;
          justify-content: center;

          i {
            display: block;
            margin-right: 20px;
            width: 36px;
            height: 34px;

            svg {
              fill: $white;
              width: 38px;
              height: 34px;
            }
          }

          .btn__text {
            color: $white;
            font-family: $proximaLt;
            font-size: rem(12);
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media #{$tablet} {
              font-size: rem(14);
            }

            p {

              span {
                font-family: $proximaSb;
              }
            }
          }
        }
      }
    }
  }
}
