.content {

  section {
    display: grid;
    grid-template-rows: 150px 150px 200px 300px;
    padding-top: 3.90%;

    @media #{$tablet} {
      grid-template-rows: 100px 180px 238px 205px;
      padding-top: 5%;
    }

  }

  .content__athlets {
    position: relative;
  }

  .content__athlets::before {
    content: '';
    display: block;
    height: 798px;
    width: 516px;
    position: absolute;
    background-image: url(../img/football.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 10%;
    top: 45px;

    @media #{$tablet} {
      left: -25%;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;

    .row {
      width: 72.5%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;

      @media #{$tablet} {
        width: 100%;
      }

      h2 {
        width: 50%;
        text-align: left;

        @media #{$tablet} {
          width: 58%;
        }
      }

      .block {
        width: 50%;

        @media #{$tablet} {
          width: 58%;
        }

        .inner {
          display: flex;
          justify-content: flex-start;
          padding-bottom: 30px;

          &__numeric {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .numeric__number {
              font-family: $proximaBt;
              font-size: rem(18);
              font-weight: bold;
              padding-bottom: 1px;
              text-align: center;
            }

            .numeric__line {
              width: 23px;
              height: 7px;
              background-color: $blue-light;
              border-radius: 3.5px;
            }
          }

          h3 {
            display: block;
            padding-left: 11px;
          }
        }

        &__text {
          @include text_content;
          width: 100%;
        }
      }
    }

    &--collaboration {
      background-color: $gray_light;
    }

    &--grow {
      background-color: $blue_light;

      .row {

        .inner {

          .inner__numeric {

            .numeric__number {
              color: $blue_line;
            }

            .numeric__line {
              background-color: $white;
            }
          }
        }

        .block__text {
          color: $white;
        }
      }
    }
  }

  .content__players {
    position: relative;
  }

  .content__players::before {
    content: '';
    display: block;
    height: 755px;
    width: 870px;
    position: absolute;
    background-image: url(../img/basketball.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 0;
    top: -45px;

    @media #{$tablet} {
      right: -31%;
      height: 555px;
      width: 670px;
      top: -2px;
    }
  }

  .container {
    display: flex;
    align-items: center;

    .row {
      width: 72.5%;
      margin: 0 auto;

      @media #{$tablet} {
        width: 90%;
      }

      h2 {
        width: 50%;
        text-align: left;
      }

      .block {
       width: 50%;

       @media #{$tablet} {
         width: 60%;
       }

       .inner {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 30px;

        &__numeric {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .numeric__number {
            font-family: $proximaBt;
            font-size: rem(18);
            font-weight: bold;
            padding-bottom: 1px;
            text-align: center;
          }

          .numeric__line {
            width: 23px;
            height: 7px;
            background-color: $blue-light;
            border-radius: 3.5px;
          }
        }

        h3 {
          display: block;
          padding-left: 11px;
        }
      }

        &__text {
          @include text_content;
          width: 100%;
        }
      }
    }

    &--collaboration {
      background-color: $gray_light;
    }

    &--grow {
      background-color: $shadow_btn;

      .row {

        .inner {
          .inner__numeric {

            .numeric__number {
              color: $blue_line;
            }

            .numeric__line {
              background-color: $white;
            }
          }
        }

        .block__text {
          color: $white;
        }
      }
    }
  }
}
