.main {

  .wrapper {
    display: grid;
    grid-template-rows: repeat(3, 38.54%);
    margin: 0 auto;

    figure {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 50%);

      .row__picture--up {
        display: none;

        @media #{$tablet} {
          display: block;
        }
      }

      .row__picture--down {
        @media #{$tablet} {
          display: none;
        }
      }

      @media #{$tablet} {
        display: block;
      }

      i {

        img {
          width: 100%;
          object-fit: cover;

          @media #{$tablet} {
            height: rem(590);
          }

          @media #{$mobile} {
            height: rem(350);
          }
        }
      }

      .box {
        padding: 26% 0 0 14.16%;

        @media #{$tablet} {
          padding: rem(80) 0 rem(73) rem(33);
        }

        @media #{$mobile}{
          padding: rem(36) rem(19) 0;
        }

        h2 {
         padding-bottom: 13%;

          @media #{$tablet} {
            padding-bottom: rem(40);
          }

          @media #{$mobile} {
            font-size: rem(28);
            padding-bottom: rem(25);
          }
        }

        p {
          padding-bottom: 10%;
          @include text_content;
          line-height: 1;

          @media #{$tablet} {
            padding-bottom: rem(40);
            width: 86%;
          }

          @media #{$mobile} {
            padding-bottom: rem(18);
            width: 100%;
          }
        }

        &__line {
          width: rem(20);
          height: rem(7);
          background-color: $blue-light;
          border-radius: rem(3.5);

          @media #{$mobile} {
            margin-bottom: rem(52);
          }
        }
      }

      .row__box--contact {
        padding: 26% 0 0 20.42%;

        @media #{$tablet} {
          padding: rem(80) 0 rem(73) rem(33);
        }

        @media #{$mobile} {
          padding: rem(36) rem(19) 0;
        }
      }

    }

    .block {
      position: absolute;
      left: 45.5%;
      top: 29.5%;
      width: 9.16%;
      height: 21%;
      display: flex;
      background-color: $blue-light;

      @media #{$tablet} {
        width: rem(116);
        height: rem(118);
        left: rem(33);
        top: rem(500);
      }

      @media #{$mobile} {
        width: rem(70);
        height: rem(70);
        top: rem(291);
        left: rem(19);
      }

      &__numeric {
        margin: auto;

        .numeric__number {
          font-family: $proximaBt;
          font-size: rem(24);
          color: $white;
          text-align: center;

          @media #{$mobile} {
            font-size: rem(14);
            padding-bottom: rem(5);
          }
        }

        .numeric__line {
          width: rem(25);
          height: rem(8);
          background-color: $blue-line;
          border-radius: rem(3.5);
          margin: 0 auto;

          @media #{$mobile} {
            width: rem(17);
            height: rem(4);
          }
        }
      }
    }
  } //wrapper
} //main
