.footer {
  background-image: url(../img/bg_footer.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

  @media #{$tablet} {
    height: 100%;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(21,23,57, .9);
    padding-top: 13%;
    position: relative;

    @media #{$tablet} {
      padding-top: 21.65%;
    }

    @media #{$mobile} {
      padding-top: rem(97);
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: rem(190);
      height: rem(130);
      background-image: url(../img/line_shot.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: rem(156);
      left: 34.5%;
      z-index: 0;

      @media #{$tablet} {
        top: rem(377);
        left: 7%;
      }

      @media #{$mobile} {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: rem(195);
      height: rem(190);
      background-image: url(../img/line_long.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: rem(112);
      right: 29.5%;
      z-index: 0;

      @media #{$tablet} {
        top: rem(330);
        right: 20%;
      }

      @media #{$mobile} {
        display: none;
      }
    }

    &__headline {
      display: flex;
      justify-content: center;
      width: 100%;

      @media #{$tablet} {
        display: block;
      }

      i {
        display: block;
        width: 6.89%;
        height: 7.4%;

        @media #{$tablet} {
          margin: 0 auto;
          width: rem(132);
          height: rem(135);
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        padding-left: rem(30);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media #{$tablet} {
          padding: 10.6% 0 13%;
          text-align: center;
        }

        @media #{$mobile} {
          padding-top: rem(60);
        }

        h1 {
          color: $white;
          font-family: $proximaBt;
          text-transform: uppercase;
          font-size: rem(70);

          @media #{$tablet} {
            font-size: rem(80);
            letter-spacing: rem(7);
          }

          @media #{$mobile} {
            font-size: rem(34);
            letter-spacing: rem(0.5);
          }
        }

        p {
          font-size: rem(28);
          font-family: $proximaBt;
          text-transform: uppercase;
          color: $font_footer;
          letter-spacing: rem(1.2);

          @media #{$tablet} {
            text-align: center;
            font-size: rem(36);
            letter-spacing: rem(0.7);
            line-height: rem(35);
          }

          @media #{$mobile} {
            font-size: rem(15);
            letter-spacing: 0;
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      padding: rem(100) 0 rem(130);

      a {
        width: 20%;
        height: rem(52);
        margin: 0 rem(20) 0;
        border-radius: rem(27) rem(27) rem(27) rem(27)/rem(27);
        background-color: $blue_light;
        box-shadow:0 rem(16) rem(24) $shadow_btn;
        display: flex;

        @media #{$tablet} {
          width: rem(315);
          height: rem(80);
          border-radius: rem(40) rem(40) rem(40) rem(40)/rem(40);
        }

        @media #{$mobile} {
          width: rem(143);
          height: rem(39);
          margin: 0 rem(5) 0;
        }

        .btn__box {
          margin: auto;
          display: flex;
          justify-content: center;

          i {
            display: block;
            margin-right: rem(20);
            width: rem(36);
            height: rem(34);

            @media #{$mobile} {
              width: rem(15);
              height: rem(19);
            }

            svg {
              fill:$white;
              width: rem(36);
              height: rem(34);

              @media #{$mobile} {
                width: rem(15);
                height: rem(19);
              }
            }
          }

          .btn__text {
            color: $white;
            font-family: $proximaLt;
            font-size: rem(12);
            text-transform: uppercase;
            padding-top: rem(4);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media #{$tablet} {
              font-size: rem(14);
            }

            @media #{$mobile} {
              font-size: rem(8);
            }

            p {

              span {
                font-family: $proximaSb;
              }
            }
          }
        }
      }
    }

    .aside {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: rgba(21,23,57, .6);
      height: rem(92);
      padding: 0 2.81% 0;

      @media #{$tablet} {
        display: block;
      }

      @media #{$mobile} {
        height: rem(50);
        padding: 0;
      }

      &__logo {
        display: flex;
        align-items: center;

        @media #{$tablet} {
          display: none;
        }

        a {
          display: block;
          width: rem(180);
          height: rem(32);

          img {
            display: block;
            width: rem(180);
            height: rem(32);
            object-fit: cover;
          }
        }
      }

      .social {
        display: flex;
        align-items: center;
        height: 100%;

        @media #{$tablet} {
          margin: 0 auto;
        }

        &__list {
          display: flex;
          justify-content: space-between;
          width: 40%;
          margin: 0 auto;

          @media #{$tablet} {
            width: 20%;
          }
          @media #{$mobile} {
            width: 45%;
          }

          a {
            display: block;
            height: rem(30);
            width: rem(30);

            @media #{$mobile} {
              height: rem(20);
              width: rem(20);
            }

            svg {
              fill: $white;
              height: rem(25);
              width: rem(25);

              @media #{$mobile} {
                height: rem(20);
                width: rem(20);
              }
            }
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media #{$tablet} {
          display: none;
        }

        &__items {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 100%;

          a {
            font-family: $proximaRg;
            font-size: rem(18);
            color: $white;

            &:hover {
              text-decoration: underline;
              color:$white;
            }
          }

          .items__link:first-child {
            padding-right: rem(8);
          }

          .items__link:last-child {
            border-left: rem(1) solid $white;
            padding-left: rem(8);
          }
        }
      }
    }
  }
}
