.footer {
  background-image: url(../img/bg_footer.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

  @media #{$tablet} {
    height: 100%;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(21,23,57, .9);
    padding-top: 13%;
    position: relative;

    @media #{$tablet} {
      padding-top: 21.65%;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 190px;
      height: 130px;
      background-image: url(../img/line_shot.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: 156px;
      left: 34.5%;
      z-index: 0;

      @media #{$tablet} {
        top: 377px;
        left: 7%;

      }
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 195px;
      height: 190px;
      background-image: url(../img/line_long.png);
      background-repeat: no-repeat;
      background-size: contain;
      top: 112px;
      right: 29.5%;
      z-index: 0;

      @media #{$tablet} {
        top: 330px;
        right: 20%;

      }
    }

    &__headline {
      display: flex;
      justify-content: center;
      width: 100%;

      @media #{$tablet} {
        display: block;
      }

      i {
        display: block;
        width: 6.89%;
        height: 7.4%;

        @media #{$tablet} {
          margin: 0 auto;
          width: 132px;
          height: 135px;

        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media #{$tablet} {
          padding: 10.6% 0 13%;
          text-align: center;
        }

        h1 {
          color: $white;
          font-family: $proximaBt;
          text-transform: uppercase;
          font-size: rem(70);

          @media #{$tablet} {
            font-size: rem(80);
            letter-spacing: rem(7);
          }
        }

        p {
          font-size: rem(28);
          font-family: $proximaBt;
          text-transform: uppercase;
          color: $font_footer;
          letter-spacing: rem(1.2);

          @media #{$tablet} {
            text-align: center;
            font-size: rem(36);
            letter-spacing: rem(0.7);
            line-height: 35px;
          }
        }
      }

    }

    .bottom {
      display: flex;
      justify-content: center;
      padding: 100px 0 130px;



      a {
        display: block;
        width: 20%;
        height: 52px;
        margin: 0 20px 0;
        border-radius: 27px 27px 27px 27px/27px;
        background-color: $blue_light;
        box-shadow:0 16px 24px $shadow_btn;
        display: flex;

        @media #{$tablet} {
          width: 315px;
          height: 80px;
          border-radius: 40px 40px 40px 40px/40px;
        }

        .btn__box {
          margin: auto;
          display: flex;
          justify-content: center;

          i {
            display: block;
            margin-right: 20px;
            width: 36px;
            height: 34px;

            svg {
              fill:$white;
              width: 36px;
              height: 34px;
            }
          }

          .btn__text {
            color: $white;
            font-family: $proximaLt;
            font-size: rem(12);
            text-transform: uppercase;
            padding-top: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {

              span {
                font-family: $proximaSb;
              }
            }
          }
        }
      }
    }

    .aside {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: rgba(21,23,57, .6);
      height: 92px;
      padding: 0 2.81% 0;

      @media #{$tablet} {
        display: block;
      }

      &__logo {
        display: flex;
        align-items: center;

        @media #{$tablet} {
          display: none;
        }

        a {
          display: block;
          width: 180px;
          height: 32px;

          img {
            display: block;
            width: 180px;
            height: 32px;
            object-fit: cover;
          }
        }
      }

      .social {
        display: flex;
        align-items: center;
        height: 100%;

        @media #{$tablet} {
          //width: 50%;
          margin: 0 auto;
        }

        &__list {
          display: flex;
          justify-content: space-between;
          width: 40%;
          margin: 0 auto;

          @media #{$tablet} {
            width: 20%;
          }

          a {
            display: block;
            height: 30px;
            width: 30px;

            svg {
              fill: $white;
              height: 25px;
              width: 25px;
            }
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media #{$tablet} {
          display: none;
        }


        &__items {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 100%;

          a {
            font-family: $proximaRg;
            font-size: rem(18);
            color: $white;

            &:hover {
              text-decoration: underline;
              color:$white;
            }
          }

          .items__link:first-child {
            padding-right: 8px;
          }

          .items__link:last-child {
            border-left: 1px solid $white;
            padding-left: 8px;
          }
        }
      }
    }
  }
}
