& {
  background-image: url(../images/bg_main.png);
  padding-top: rem(192);

  .container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;


    &__science {
      font-family: $montserratBold;
      font-size: rem(67.61);
      text-transform: uppercase;
      color: $white;
      padding-bottom: rem(70);
    }

    &__btn {


      input {
        height: rem(53);
        width: rem(147);
        border-radius: rem(26);
        text-align: center;
        cursor: pointer;
        outline: none;
        border: none;
      }

      input::-moz-placeholder {
        color: $fonts-placeholder;
      }
      input::-webkit-input-placeholder {
        color: $fonts-placeholder;
      }
    }

    &__text {

      p {
        font-family: $montserratBold;
        font-size: rem(17.67);

        a{
          text-decoration: none;
          color: $white;
        }

        span {
          color: $white;
        }
      }
    }

    .followers {
      display: grid;
      grid-template-columns: repeat(5, 45px);
      grid-column-gap: rem(26);

      &__item {

        img {
          width: rem(45);
          height: rem(45);
          border-radius: 50%;
        }
      }
    }
  }
}
