.services {
  display: flex;
  justify-content: space-between;

  .services__image {
    width: 25%;

    img {
      display: block;
      width: 100%;
      height: rem(570);
      object-fit: cover;
    }
  }

  .display_none {
    display: none;
  }


  .services__buttons {
    width: 30%;

    ul {
      display: flex;
      flex-wrap: wrap;
      background-color: $header;


      li {
        width: 50%;
        padding-top: 50%;
        background-color: $header;
        position: relative;

        &:nth-child(1) {
          background-color: #0f613a;
        }
        &:nth-child(2) {
          background-color: #0d6d3a;
        }
        &:nth-child(3) {
          background-color: #2c813c;
        }
        &:nth-child(4) {
          background-color: #2a7c3c;
        }
        &:nth-child(5) {
          background-color: #369141;
        }
        &:nth-child(6) {
          background-color: #59a032;
        }

        div {
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom:0;
          display: flex;
          align-items: center;

           &:hover {
             background-color: $header;
             margin: -10px;
             z-index: 999;
             width: calc(100% + 20px);
             height: calc(100% + 20px);
             cursor: pointer;
             border-radius: 2px;
             transition: all 300ms ease-in-out;
             -webkit-box-shadow: 0px 5px 22px 2px rgba(0, 0, 0, 0.37);
             -moz-box-shadow: 0px 5px 22px 2px rgba(0, 0, 0, 0.37);
             box-shadow: 0px 5px 22px 2px rgba(0, 0, 0, 0.37);

             .button__img--hover {
               display: block;
             }

             .button__img {
               display: none;
             }
           }


          i {
            margin: 0 auto;
            img {
              display: block;
              width: 75px;
              height: 75px;
              object-fit: contain;
              margin: 0 auto;
            }

            h4 {
              font-family: $dosis;
              font-size: rem(18);
              font-weight: 500;
              font-style: normal;
              text-transform: uppercase;
              color: $white;
              text-align: center;
              padding-top: rem(20);
            }
          }
        }

        .button__img--hover {
          display: none;
        }

        .active {
          background-color: $header;
          margin: -10px;
          z-index: 999;
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          cursor: pointer;
          border-radius: 2px;
          transition: all 300ms ease-in-out;
          -webkit-box-shadow: 0px 5px 22px 2px rgba(0, 0, 0, 0.37);
          -moz-box-shadow: 0px 5px 22px 2px rgba(0, 0, 0, 0.37);
          box-shadow: 0px 5px 22px 2px rgba(0, 0, 0, 0.37);
        }
      }
    }
  }

  .services__description {
    width: 46%;
    background-color: $header;
    background-image: url(../img/mask.png);
    padding: 8% 0 8% rem(70);

    .display_none {
      display: none;
    }

    .description__content {
      width: 66%;

      .content__caption {
        font-family: $dosis;
        font-weight: 600;
        font-size: rem(40);
        text-transform: uppercase;
        color: $white;
        padding-bottom: rem(35);
      }

      .content__undercaption {
        font-family: $dosis;
        font-weight: 800;
        font-size: rem(13);
        text-transform: uppercase;
        color: $hover_menu;
        padding-bottom: rem(35);
      }

      .content__pic {
        padding-bottom: rem(35);

        img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .content__text {
        font-family: $arial;
        font-size: rem(13);
        color: $white;
        line-height: rem(24);
        padding-bottom: rem(35);
        max-width: rem(365);
        width: 98%;
      }

      .content__decor {
        padding-bottom: rem(35);

        img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      .content__links {
        font-family: $arial;
        font-size: rem(11);

        a {
          color: $link_services;
          padding: rem(2) rem(10);
          border-right: 1px solid $border_crumb;
          height: rem(13);

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
            border: 0;
          }

          &:hover {
            opacity: 0.6;
            transition: color 300ms ease-in-out;
          }
        }
      }
    }
  }
}
