article {
  background-color: $pink;

  .content__barel {
    width: 86.7%;
    margin: 0 auto;

    .content__wrapper {
      display: grid;
      grid-template-columns: 33% 67%;

      .elements {

        i {
          display: block;
          height: rem(359);
        }

        .box {
          padding: rem(55)  rem(65) rem(70) rem(45);
          position: relative;
          background-color: $white;
          height: 341px;

          a {
            text-decoration: none;
            color: $fonts_gray;
            display: block;

            &:hover {

              .box__text {
                text-decoration: underline;
              }
            }
          }

          &__caption {
            text-transform: uppercase;
          }

          &__title {
            text-transform: uppercase;
            padding: rem(16) 0 rem(40);
          }

          &__text {
            line-height: rem(27);
            font-size: rem(14);
            font-family: $openSans;
          }

          &__icon {
            display: block;
            width: rem(30);
            height: rem(40);
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-position: rem(-74) 0;
            position: absolute;
            top: rem(55);
            right: rem(28);
          }
        }

        &__picture {
          position: relative;

          &--big {
            img {
              display: block;
              width: 100%;
              height: rem(359);
            }
          }

          .picture__date {
            position: absolute;
            top: rem(62);
            left: rem(60);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 82%;
            text-transform: uppercase;
            color: $white;

            .health {
              justify-self: end;
              position: relative;

              &::after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: rem(-6);
                right: rem(-28);
                height: rem(25);
                width: rem(25);
                background-image: url(../img/sprite.png);
                background-repeat: no-repeat;
                background-position: rem(-35) rem(-9);
              }
            }
          }
        }
      }

      #summer {
        background-color: $green;
        height: rem(341);

        .box__title {
          color:$white;
        }

        .box__text {
          color: $white;
        }
      }
    }

    .content__container {
      display: grid;
      grid-template-columns: 67% 33%;

        i {
          display: block;
          height: rem(359);
        }

        .elements__picture {
          i {

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

      .box {
        background-color: $white;
        padding: rem(55) rem(50) rem(100) rem(40);
        position: relative;
        height: rem(320);

        a {
          text-decoration: none;
          color: $fonts_gray;
          display: block;

          &:hover {

            .box__text {
              text-decoration: underline;
            }
          }
        }

        &__caption {
          text-transform: uppercase;
        }

        &__title {
          text-transform: uppercase;
          padding: rem(16) 0 rem(40);
        }

        &__text {
          line-height: rem(27);
          font-size: rem(14);
          font-family: $openSans;
        }

        &__icon {
          display: block;
          width: rem(35);
          height: rem(40);
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: rem(-189) 0;
          position: absolute;
          top: rem(55);
          right: rem(28);
        }
      }

      #habits {
        background-color: $green;
        padding-bottom: rem(73);

        .box__caption {
          color: $white;
        }

        .box__title {
          color: $white;
        }

        .box__text {
          color: $white;
        }

        .box__icon {
          display: block;
          width: 35px;
          height: 40px;
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -149px 0;
          position: absolute;
          top: 55px;
          right: 28px;
        }
      }
    }
  }
}
