.footer {
  background-color: $black-footer;
  height: 100vh;


  .container {
    width: 72.5%;
    margin: 0 auto;
    padding: rem(70) 0 rem(30);
    display: grid;
    grid-template-columns: 31.33% 37.8% 27.87%;
    grid-column-gap: 2.3%;

    &__items {

      a {
        text-decoration: none;
        display: block;

        &:hover {

          p {
            text-decoration: underline;
          }
        }

        h5 {
          font-family: $openSans_bold;
          font-size: rem(15);
          color: $footer_title;
          padding-bottom: rem(30);
        }

        p {
          line-height: rem(25);
          font-family: $openSans;
          font-size: rem(14);
          color: $footer_text;
        }
      }
    }

    .social {

      &__caption {
        font-family: $openSans_bold;
        font-size: rem(15);
        color: $footer_title;
        padding-bottom: rem(25);
      }

      .links {
        display: grid;
        grid-template-columns: repeat(4,1fr);

        .item {
          display: block;
          width: rem(52);
          height: rem(52);
          border-radius: 50%;

          a {
            display: flex;
            height: 100%;
            width: 100%;

            .item__icon {
              fill: $white;
              margin: auto;
              width: rem(20);
              height: rem(20);
            }
          }
        }
        .links__item--fb {
          background-color: $blue-fb;
        }
        .links__item--tw {
          background-color: $blue-tw;
        }

        .links__item--ytube {
          background-color: $red-yt;
        }

        .links__item--lnd {
          background-color: $blue-in;
        }
      }
    }
  }

  &__form {
    width: 72.5%;
    margin: 0 auto;
    @include clearfix;

    .form {
      float: right;
      position: relative;

      input {
        height: rem(50);
        border-radius: rem(5);
        outline: none;
        border: none;
        @include placeholder_color;
      }

      &__name {
        width: rem(200);
        margin-right: rem(6);
        padding-left: rem(23);
        font-size: rem(14);
        font-family: $proxima;
      }

      &__mail {
        width: rem(340);
        margin-right: rem(6);
        padding-left: rem(23);
        font-size: rem(14);
        font-family: $proxima;
      }

      &__btn {
        width: rem(180);
        text-align: left;
        padding-left: rem(25);
        background-color: $green;
        font-size: rem(15);
        font-family: $proxima_bold;
        cursor: pointer;
        color: $white;
      }

      &::after {
        content: " ";
        display: inline-block;
        position: absolute;
        top: rem(19);
        right: rem(30);
        height: rem(15);
        width: rem(15);
        background-image: url(../img/arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}


