header {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding-top: 2.5%;
  padding-bottom: 9.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-attachment: fixed;

  .menu {
    display: grid;
    grid-template-columns: 1fr 2fr;

    &__logo {
      display: block;
      padding-left: 52px;
    }

    &__item {

      ul {
        display: flex;
        justify-content: flex-end;

        li {
          display: block;
          margin-right: 65px;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            line-height: 50px;
          }
        }
      }
    }
  }

  .caption {
    padding-left: 120px;

    a {
      text-transform: uppercase;
      font:rem(40) $avenir;
      color: $white;
      text-decoration: none;

      span {
        color: $green;
      }
    }

    &__yes {
      padding-left: 160px;

      p {
        font: rem(15) $openSans_bold;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 3.5px;

        span {
          color: $red-yt;
        }
      }
    }
  }
}
