.leaders {
  background-image: url(../img/pic_down1.png);
  background-position: center;
  background-repeat: no-repeat;
  height: rem(805);
  padding-top: rem(242);
  display: flex;
  justify-content: center;


  .wrapper {
    width: 55%;
    color: $white;
    text-align: center;

    a {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $leaders-font;
      }

      .wrapper__title {
        font-family: $openSans;
        font-size: rem(45);
        padding-bottom: rem(40);
      }

      .wrapper__text {
        font-family: $openSans;
        font-size: rem(14);
        width: 60%;
        margin: 0 auto;
        line-height: rem(25);
      }
    }







  }


}
